---
layout: default
title: Archive
permalink: /archive/
---

<head>
	<style type="text/css">
		.archive-description {
			color: #b5b5b5;
		}
	</style>
</head>

<div class="post-header">
    <center><div class="contact-title">Archive</div>
            <div class="contact-subtitle"><p>As years flow by.</p></div></center>
</div>

<div class="post-content">

	{% assign is_first = true %}
	{% for post in site.posts %}

	{% capture this_year %}
	{{ post.date | date: "%Y" }}
	{% endcapture %}
	{% if is_first %}
	<h2>{{ this_year }}</h2>
	{% endif %}

	{% capture next_year %}
	{{ post.previous.date | date: "%Y" }}
	{% endcapture %}
	{% if this_year == next_year %}
	{% assign is_first = false %}
	{% else %}
	{% assign is_first = true %}
	{% endif %}

	<ul>
		<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><span class="archive-description"> - {{ post.date | date_to_long_string }}</span>
		</li>
	</ul>
		  
	{% endfor %}

</div>
