<footer class="site-footer">

  <div class="wrapper">

    <center>
        <span>&copy;</span>
        <span><script>document.write(new Date().getFullYear());</script></span>
        
        <a class="link" href="/">Ben</a>
        
        <p><a class="link" href="/archive/">Archive</a> /
		<a class="link" href="/category/">Category</a> / 
           <a class="link" href="/tags/">Tags</a> / 
           <a class="link" href="/about/">About</a> /
           <a class="link" href="/contact/">Contact</a>
        </p>
    </center>
    
  </div>

</footer>
