<style>
	.post-head-content {
		margin-left: 10%;
		margin-right: 10%;
		max-width: 1500px;
		font-size: 11px;
		margin-bottom: 60px;
        padding-bottom: 60px;
        margin-top: 5%;
        border-bottom: 1px dashed;
	}

</style>

<div class="post-head-content">
    <center>
        <p>VIM - VI IMproved</p>
        
        <p><span class="blue">version 7.4.52</span>
        <br>by Bram Moolenaar et al.
        <br>Modified by <span class="cyan">pkg-vim-maintainers@lists.alioth.debian.org</span>
        <br>Vim is open source and freely distributable</p>
        
        <p><span class="green">Sponsor Vim development!</span>
        <br>type :help sponsor&lt;Enter&gt;  for information</p>
        
        <p>type&nbsp;&nbsp;<span class="orange">:q<strong>&lt;Enter&gt;</strong></span>&nbsp;&nbsp;&nbsp;to exit
        <br>type&nbsp;&nbsp;<span class="orange">:help<strong>&lt;Enter&gt;</strong></span> or <span class="orange"><strong>&lt;F1&gt;</strong></span>&nbsp;&nbsp;&nbsp;for on-line help
        <br>type&nbsp;&nbsp;<span class="orange">:help version7<strong>&lt;Enter&gt;</strong></span>&nbsp;&nbsp;&nbsp;for version info</p>
    </center>
</div>


